In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import json
import pandas as pd
import numpy as np

In [6]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from string import punctuation, whitespace
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df_reviews = pd.read_csv('final_reviews.csv')

In [4]:
df = df_reviews.loc[:, ['review_id', 'review', 'review_stars', 'review_useful']]
df.head()

                review_id  ... review_useful
0  xQY8N_XvtGbearJ5X4QryQ  ...             5
1  t7xOZF5UKXjSpVcXLOSAgw  ...             2
2  MimB5Xh85rG7phUMPrShag  ...             5
3  sLkT7J06L4TK4PiRUFax2g  ...             0
4  cnV5xtm6WuyaLfot9uWbDg  ...             3

[5 rows x 4 columns]

In [7]:
stop_words = stopwords.words('english')
df['lenght_sent'] = df.review.apply(lambda x: len(nltk.sent_tokenize(x)))
df['word_tokens'] = df.review.apply(nltk.word_tokenize)
df['lenght_word'] = df.word_tokens.apply(lambda x: len(x))
df['set_word'] = df.word_tokens.apply(lambda x: len(set([w.lower() for w in x])))
df['length_punct'] = df.review.apply(lambda x: len([p for p in nltk.wordpunct_tokenize(x) if p in punctuation]))
df['length_stopwords'] = df.word_tokens.apply(lambda x: len([w for w in x if w in stop_words]))
df['length_upper'] = df.word_tokens.apply(lambda x: len([w for w in x if w.isupper()]))
df['length_title'] = df.word_tokens.apply(lambda x: len([w for w in x if w.istitle()]))
df['length_char'] = df.review.apply(lambda x: len([char for char in x if char not in punctuation + whitespace]))
df['average_length_words'] = df.word_tokens.apply(lambda x: np.mean([len(w) for w in x]))

In [21]:
df.review_useful.value_counts()

0      235075
1      105947
2       53321
3       29391
4       17651
        ...
109         1
101         1
107         1
106         1
758         1
Name: review_useful, Length: 136, dtype: int64

In [15]:
X = df.loc[:, ['lenght_word', 'set_word', 'length_punct', 'length_stopwords', 'length_upper', 'length_title', 'length_char', 'average_length_words', 'lenght_sent']].values
y = np.where(df.review_useful > 2, 1, 0)

In [18]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [20]:
clf = MultinomialNB()  # generates classifier object
clf.fit(X_train, y_train)  # fits the training data

# training accuracy score of training data - expected to be higher than test accuracy score
print('Score for training data:', clf.score(X_train, y_train))
print('Score for test data:', clf.score(X_test, y_test))  # test accuracy score

Score for training data: 0.7755067219721707
Score for test data: 0.7761746233311597